---
import perfil from "../assets/perfil.jpg";
import ButtonCV from "./buttons/ButtonCV.astro";
import ButtonRounded from "./buttons/ButtonRounded.astro";

interface Props {
  name: string;
  charge: string;
}

const { name, charge } = Astro.props;
---

<div
  class="flex flex-col gap-12 md:flex-row justify-between items-center py-4 md:py-12"
>
  <div class="flex flex-col items-start">
    <div class="w-72 xl:w-96 mb-5">
      <h1 class="text-3xl xl:text-6xl font-bold">
        {name}
      </h1>
    </div>
    <h3 class="font-regular text-xl xl:text-3xl">{charge}</h3>
  </div>
  <div class="flex flex-col items-center">
    <img
      class="rounded-full w-64 h-64 md:w-96 md:h-96 mb-4 object-cover"
      src={perfil.src}
      alt="Ronal Llapapasca Montes"
    />
    <div class="flex justify-center items-center gap-5">
      <ButtonCV />
      <ButtonRounded icon="github" link="https://github.com/Jamesllm" />
      <ButtonRounded
        icon="linkedin"
        link="https://www.linkedin.com/in/ronal-llapapasca/"
      />
    </div>
  </div>
</div>
