---
interface Props {
  text: string;
  highlightType: "green" | "red" | "yellow" | "blue" | "purple";
}

const { text, highlightType } = Astro.props;

const highlightColors = {
  green: "var(--highlight-green)",
  red: "var(--highlight-red)",
  yellow: "var(--highlight-yellow)",
  blue: "var(--highlight-blue)",
  purple: "var(--highlight-purple)",
};
---

<h2 class="relative text-3xl md:text-4xl lg:text-5xl font-bold w-fit">
  <span
    class="absolute inset-0 -z-10 flex items-center justify-center"
    aria-hidden="true"
  >
    <svg
      class="w-full h-[150%]"
      viewBox="0 0 375 92"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g mask="url(#mask0_212_281)">
        <path
          d="M356.768 74.4976C367.301 73.9507 370.148 60.2039 365.1 53.13C365.169 52.583 365.203 52.0363 365.235 51.4893C378.446 49.4108 378.379 25.7458 364.254 26.1834C362.762 26.22 361.273 26.22 359.749 26.2929C368.963 20.9693 367.371 1.75304 354.87 2.15414C245.184 5.58172 135.532 9.00929 25.8465 12.4369C12.2966 12.8744 11.7884 33.0751 23.0348 37.2319C18.936 37.2319 14.871 37.232 10.7722 37.1956C-3.65841 37.0861 -3.5229 61.9177 10.7722 62.6835C26.1851 63.522 41.5643 64.2878 56.9771 64.9077C52.0993 65.1629 47.2213 65.4183 42.3094 65.6735C28.0144 66.4391 27.9128 91.927 42.3094 91.1615C147.151 85.6191 251.959 80.0402 356.801 74.4976H356.768Z"
          fill={highlightColors[highlightType]}></path>
      </g>
    </svg>
  </span>
  {text}
</h2>

<style>
  :root {
    --highlight-green: #00ceb3;
    --highlight-red: #fc787d;
    --highlight-yellow: #fbb130;
    --highlight-blue: #0000ff;
    --highlight-purple: #800080;
  }

  .dark {
    --highlight-green: #008c76;
    --highlight-red: #d85a5e;
    --highlight-yellow: #c97f22;
    --highlight-blue: #0033cc;
    --highlight-purple: #4b0082;
  }
</style>
